services:
  - type: web
    name: bike-gear-backend
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "pipenv run gunicorn bike_shop.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: bike-gear-db
          property: connectionString
      - key: FRONTEND_URL
        sync: false
    autoDeploy: true

databases:
  - name: bike-gear-db
    databaseName: bike_gear
    user: bike_gear_user